@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background: #fff;
    -webkit-font-smoothing: anitalised;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  * {
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
}

@layer utilities {
  .container-padding-x {
    @apply px-4 sm:px-4 lg:px-16 xl:px-24;
  }
  .container-padding-y {
    @apply py-16 md:py-24;
  }
  .section-header {
    @apply text-2xl md:text-3xl font-bold mb-4;
  }
  .section-description {
    @apply text-base lg:text-lg xl:max-w-[80%] mb-8 mx-auto;
  }
}
