.swiper-pagination {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
  padding-top: 4rem;
  width: 100%;

  .swiper-pagination-bullet {
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 50%;
    background-color: #849cbf;

    &.swiper-pagination-bullet-active {
      background-color: #2d4f7e;
    }
  }
}
